* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(images/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.logo {
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
  position: fixed;
  color: white;
  backdrop-filter: blur(6px);
  width: 100%;
}
.navlink {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-left: 50rem;
}
.navlink li a {
  text-decoration: none;
  color: white;
}
.navlink li a:hover {
  color: bisque;
  font-weight: bold;
  transition: color 0.3s ease;
}
.section1 {
  background-image: url(images/img9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.section1-text {
  text-align: left;
  align-items: left;
  justify-content: left;
  padding: 8% 12%;
  height: 100vh;
  width: 100%;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.section1 h2 {
  font-size: 4rem;
  text-align: left;
}
.section1 p {
  font-size: 20px;
  padding: 15px;
}
.section1 button {
  padding: 2% 4%;
  margin: 7% 15%;
  font-weight: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  color: white;
  align-items: center;
}
.section1 button:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 2rem;
  border-radius: 12px;
}
.section2 {
  display: flex;
  height: 100vh;
  padding: 4% 6%;
  color: white;
}
.section2container {
  max-width: 70%;
  padding: 2% 6%;
  text-align: center;
}
.section2container h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.section2container h3 {
  padding: 5%;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
.section2 img {
  border-radius: 30px;
  box-shadow: 0 4px 12px;
}
.section3 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  padding: 5% 7%;
  gap: 30px;
}
.section3 img {
  border-radius: 30px;
  box-shadow: 0 4px 12px;
}
.section3 img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.section4 {
  margin: 8% 10%;
  box-shadow: 0 4px 12px;
}
th,
td {
  border: 3px solid black;
  padding: 10px 100px;
  text-align: center;
}
.section4table h2 {
  font-size: 3.5rem;
  padding-bottom: 2%;
  text-align: center;
}
.section5 h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.contactform {
  max-width: 500px;
  margin: auto;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px;
}
.contactform label {
  display: block;
  font-weight: bold;
  margin: 12px 0 5px;
}
.contactform input,
.contactform textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 5px;
  font-size: 15px;
  box-sizing: border-box;
}
.sendbutton {
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.sendbutton :hover {
  background-color: transparent;
  color: black;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 8% 10%;
  font-size: 20px;
}
.footersection li {
  list-style: none;
  color: black;
}
.footersection a {
  text-decoration: none;
  color: black;
}
.footersection input {
  padding: 10px 16px;
}
